a {	
	color:#FFCC66;
	text-decoration: none
}
body {	
	background-color: #345588;
	font-family: skia;	
	font-size: 1em;	
	line-height: 1.5em;	
	color: #eeeeee;
	margin-top: 10.1em;
	margin-right: 1.1em;
	margin-bottom: 1.1em;
	margin-left: 1.1em;
	text-align:center; 
	}
h2 {
	font-size: 1.8em;	
	color: #b5c2d3;
	background-color: #345588;
	margin-left: 1.1em;  
	}
h3 {	
	font-family: skia;	
	font-size: 1.15em;	
	background-color: #345588;  	
	margin-right: 1.1em;
	margin-left: 1.1em;
	text-align:center; 
	}
h4 {	
	font-family: skia;	
	font-size: .85em;	
	margin-right: 1.1em;
	margin-left: 1.1em;
	text-align:center;
	line-height: .85em;	
	
	}

a:hover {	
	text-decoration: underline
	}
